! Command: show running-config
! device: localhost (vEOS, EOS-4.24.2.1F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model ribd
!
!
aaa authorization exec default local
!
no aaa root
!
!
interface Ethernet1
!
interface Ethernet2
!
interface Ethernet3
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Management1
!
interface GigabitEthernet1/0/38
 switchport access vlan 200
 switchport private-vlan host-association 200 204
 switchport mode private-vlan host
 spanning-tree portfast
!
interface GigabitEthernet1/0/39
 switchport access vlan 200
 switchport private-vlan host-association 200 204
 switchport mode private-vlan host
 spanning-tree portfast
!
interface GigabitEthernet1/0/40
 switchport access vlan 200
 switchport private-vlan host-association 200 204
 switchport mode private-vlan host
 spanning-tree portfast
!
interface GigabitEthernet1/0/41
 switchport access vlan 200
 switchport private-vlan host-association 200 204
 switchport mode private-vlan host
 spanning-tree portfast
!
interface GigabitEthernet1/0/42
 switchport access vlan 200
 switchport private-vlan host-association 200 204
 switchport mode private-vlan host
 spanning-tree portfast

no ip routing
!
end
