Current configuration : 10380 bytes
!
version 15.0
no service pad
service timestamps debug uptime
service timestamps log uptime
no service password-encryption
service compress-config
!
boot-end-marker
!
enable password wondah12
!
!
!
no aaa new-model
udld aggressive

ip subnet-zero
no ip domain-lookup
ip domain-name tnc.com
ip vrf mgmtVrf
!
!
!
vtp domain TNC
vtp mode transparent
!
!
!
power redundancy-mode redundant
!
!
!
!
spanning-tree mode pvst
spanning-tree logging
spanning-tree extend system-id
spanning-tree vlan 20,40,50,60,70,80 priority 8192
!
vlan internal allocation policy ascending
!
vlan 20
 name INTERNAL_LAN_20
!
vlan 40
 name INTERNAL_LAN_40
!
vlan 50
 name FW-INSIDE-50
!
vlan 60
 name FW-OUTSIDE-60
!
vlan 70
 name INTERNAL_LAN_70
!
vlan 80
 name INTERNAL_LAN_80
!
vlan 2384,2884 
lldp run
!
ip ssh time-out 60
ip ssh authentication-retries 2
ip ssh version 2
!
!
interface Loopback1
 description *** Management Interface ***
!
interface Port-channel1
 description L2 Interlink WG-TNC-ASC-P02
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 2384
 switchport trunk allowed vlan 20,40,50,60,70,80,2884
 switchport mode trunk
 logging event trunk-status
 speed nonegotiate
!
interface FastEthernet1
 ip vrf forwarding mgmtVrf
 ip address 10.192.30.249 255.255.255.128
 speed auto
 duplex auto
!
interface GigabitEthernet1/1
 switchport access vlan 50
 logging event link-status
 load-interval 30
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/2
 switchport access vlan 60
 logging event link-status
 load-interval 30
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/3
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/4
!
interface GigabitEthernet1/5
 no switchport
 no ip address
!
interface GigabitEthernet1/6
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 20
 switchport mode trunk
!
interface GigabitEthernet1/7
!
interface GigabitEthernet1/8
!
interface GigabitEthernet1/9
!
interface GigabitEthernet1/10
!
interface GigabitEthernet1/11
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 80
 switchport mode trunk
!
interface GigabitEthernet1/12
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/13
!
interface GigabitEthernet1/14
!
interface GigabitEthernet1/15
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/16
!
interface GigabitEthernet1/17
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/18
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/19
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/20
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 20,80
 switchport mode trunk
 spanning-tree portfast
!
interface GigabitEthernet1/21
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/22
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/23
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/24
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/25
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/26
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/27
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/28
 switchport access vlan 20
 switchport mode access
!
interface GigabitEthernet1/29
!
interface GigabitEthernet1/30
!
interface GigabitEthernet1/31
!
interface GigabitEthernet1/32
!
interface GigabitEthernet1/33
!
interface GigabitEthernet1/34
!
interface GigabitEthernet1/35
!
interface GigabitEthernet1/36
!
interface GigabitEthernet1/37
!
interface GigabitEthernet1/38
!
interface GigabitEthernet1/39
!
interface GigabitEthernet1/40
!
interface GigabitEthernet1/41
!
interface GigabitEthernet1/42
!
interface GigabitEthernet1/43
!
interface GigabitEthernet1/44
!
interface GigabitEthernet1/45
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 2384
 switchport trunk allowed vlan 20,40,50,60,70,80,2884
 switchport mode trunk
 logging event link-status
 udld port aggressive
 channel-group 1 mode on
!
interface GigabitEthernet1/46
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 2384
 switchport trunk allowed vlan 20,40,50,60,70,80,2884
 switchport mode trunk
 logging event link-status
 speed nonegotiate
 udld port aggressive
 channel-group 1 mode on
!
interface GigabitEthernet1/47
 description L3 WG-TNC-ASC-P01
 switchport trunk allowed vlan 20,40
 udld port aggressive
!
interface GigabitEthernet1/48
 no switchport
 ip address 172.16.12.1 255.255.255.252
 logging event link-status
 udld port aggressive
!
interface Vlan1
 no ip address
!
interface Vlan20
 description INTERNAL_LAN_20
 ip address 10.192.20.2 255.255.255.0
 ip ospf 12000 area 0
 standby 1 ip 10.192.20.1
 standby 1 priority 105
 standby 1 preempt
 standby 1 authentication hsrp20
!
interface Vlan40
 description INTERNAL_LAN_40
 ip address 10.192.40.2 255.255.255.0
 ip ospf 12000 area 0
 standby 1 ip 10.192.40.1
 standby 1 priority 105
 standby 1 preempt
 standby 1 authentication hsrp40
!
interface Vlan50
 description FW-INSIDE 
 ip address 10.192.50.154 255.255.255.248
 ip ospf 12000 area 0
 standby 1 ip 10.192.50.158
 standby 1 priority 105
 standby 1 preempt
 standby 1 authentication hsrp50
!
interface Vlan60
 description INTERNAL_LAN_60
 ip address 10.128.60.2 255.255.255.248
 ip ospf 12000 area 0
 standby 1 ip 10.128.60.1
 standby 1 priority 105
 standby 1 preempt
 standby 1 authentication hsrp60
!
interface Vlan70
 description INTERNAL_LAN_70
 ip address 10.192.70.2 255.255.255.0
 ip ospf 12000 area 0
 standby 1 ip 10.192.70.1
 standby 1 priority 105
 standby 1 preempt
 standby 1 authentication hsrp70
!
interface Vlan80
 description INTERNAL_LAN_80
 ip address 10.192.80.2 255.255.255.0
 ip helper-address 10.192.80.130
 ip ospf 12000 area 0
 standby 1 ip 10.192.80.1
 standby 1 priority 105
 standby 1 preempt
 standby 1 authentication hsrp80
!
interface Vlan2884
 ip address 172.16.49.1 255.255.255.252
 ip ospf 12000 area 0
!
router ospf 12000
 router-id 172.16.50.1
 log-adjacency-changes detail
 network 10.192.50.152 0.0.0.7 area 0
 network 176.16.1.0 0.0.0.255 area 0
 network 176.16.0.0 0.0.255.255 area 0
!
router bgp 12000
 no synchronization
 bgp router-id 172.16.50.1
 bgp log-neighbor-changes
 no auto-summary
!
no ip http server
no ip http secure-server
!
!
!
!
!
!
control-plane
!
banner motd ^CC
!! WARNING !! WARNING !! WARNING !! WARNING !! WARNING !! WARNING !! WARNING !!
!!                                                                           !!
!!                                                                           !!
!!   This computer system including all related equipment, network devices   !!
!!   (specifically including Internet access), are provided only for         !!
!!   authorized use.                                                         !!
!!                                                                           !!
!!   All computer systems may be monitored for all lawful purposes,          !!
!!   including to ensure that their use is authorized, for management of     !!
!!   the system, to facilitate protection against unauthorized access, and   !!
!!   to verify security procedures, survivability and operational security.  !!
!!                                                                           !!
!!   Monitoring includes active attacks by authorized personnel and their    !!
!!   entities to test or verify the security of the system. During           !!
!!   monitoring, information may be examined, recorded, copied and used for  !!
!!   authorized purposes.                                                    !!
!!                                                                           !!
!!   All information including personal information, placed on or sent over  !!
!!   this system may be monitored. Uses of this system, authorized or        !!
!!   unauthorized, constitutes consent to monitoring of this system.         !!
!!                                                                           !!
!!   Unauthorized use may subject you to criminal prosecution. Evidence of   !!
!!   administrative, criminal or other adverse action. Use of this system    !!
!!   constitutes consent to monitoring for these purposes.                   !!
!!                                                                           !!
!!                                                                           !!
!! WARNING !! WARNING !! WARNING !! WARNING !! WARNING !! WARNING !! WARNING !!
^C
!
line con 0
 stopbits 1
line vty 0 4
 login local
 transport input ssh
line vty 5 15
 login
 transport input ssh
!
end
